a {
    text-decoration: none;
}
h1 {
    margin-top: 40px;;
    font-size: 2.8rem;
}
.external {
    width:50%;    
    justify-content: center;
}
.external__container {
    justify-content: center;
}
.external__btn {
    color: #f8f8f8 !important;
    background-color: #4a4a4a !important;
    width: 100%;
    border-radius: 0 !important;
}