.footer {
    width:100%;
    text-align:center;
    position:fixed;
    bottom:0; 
    color: #4a4a4a !important;
    background-color: #4a4a4a;
    justify-content: center;

}
.footer__container {
    justify-content: center;
}