a {
    text-decoration: none;
}
h1 {
    font-size: 2.8rem;
    color: #4a4a4a;
    padding-bottom: 50px !important;
}
.home {
    width: 50%;
    justify-content: center;
}
.home__btn {
    margin-top: 16px;
    font-size: 14px !important;
    color: #f8f8f8 !important;
    background-color: #4a4a4a !important;
    width: 100%;
    border-radius: 0 !important;
}
.more__maps {
    width: 100%;
}
.more__btn {
    font-size: 16px !important;
    color: #f8f8f8 !important;
    background-color: #4a4a4a !important;
    width: 250px;
    border-radius: 0 !important;
    
}